*{
    box-sizing: border-box;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

/*Reset elemnts*/
.menu{
    list-style: none;
    
}
.menu__link{
    text-decoration: none;
    color: #eee;
}

/*Layout basico*/

.menu{
    width: 50%;
    background: #333;
}
.menu__item{
    border-bottom: 1px solid #222;
}
.menu__item:hover{
    background: rgba(0,0,0,.5);
}
.menu__link{
    display: block;/*comvierte el 
                    hipervinculo a 
                    una  caja de bloque*/
    padding: .5em 1em;
}

/*Agregar flexbox*/

@media screen and (min-width: 960px){
    .menu{
        display: flex;
        width: 100%;

    }
    .menu__link{
        text-align: center;
    }
    .menu__item{
        flex: 1;
        border-right: 1px solid #222;
    }
}
.banner{
    display: flex;
    background: cadetblue;
    height: 300px;

}
.banner__item{
    flex: 1;
}
.banner__title{
    margin: 0;
}

